<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>A+Ocean</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="../">A+Ocean</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../../items/?account_id={{ account_id }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../../carts/?account_id={{ account_id }}">Cart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../../accounts/?account_id={{ account_id }}">My Account</a>
            <a class="dropdown-item" href="../../support/?account_id={{ account_id }}">Support</a>
            <a class="dropdown-item" href="../../">Log Out</a>
          </div>
        </li>
      </ul>
        <form class="form-inline my-2 my-lg-0" action="/search/results/" method="get">
          <select class="form-control mr-sm-2" id="category" name="category">
              <option value="1">Category</option>
              {% for category in categories %}
                <option value="{{ category.pk }}">{{ category.fields.category }}</option>
              {% endfor %}
          </select>
          <input class="form-control mr-sm-2" type="search" placeholder="Search Items" aria-label="Search" name="item_desc" id="item_desc">
          <input class="form-control mr-sm-2" type="hidden" value="{{ account_id }}" name="account_id" id="account_id">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

  <div style="display: flex; margin-top: 20px; display: inline-block;">
     {% for item in items %}
        <div class="card" style="width: 40rem; margin: 20px; display: inline-block; ">
            <p style="float:right; font-size: small;">
            <img src="../../static/{{ item.fields.item_pic }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>{{ item.fields.item_name }}</b></h5>
                <p class="card-text">{{ item.fields.item_desc }}</p>
                <p class="card-text"><b>Start Price:</b> $ {{ item.fields.start_price }}</p>
                <p class="card-text"><b>Buy Now Price:</b> $ {{ item.fields.buy_now_price }}</p>
                <p class="card-text"><b>Shipping Cost:</b> $ {{ item.fields.shipping_cost }}</p>
                <p class="card-text"><b>Qty:</b> {{ item.fields.quantity }}</p>
                <p class="card-text"><b>Auction Start Time:</b> {{ item.fields.auction_start_time }}</p>
                <p class="card-text"><b>Auction End Time:</b> {{ item.fields.auction_end_time }}</p>
                {% for account in accounts %}
                  {% if account.pk == item.fields.account_id %}
                   <p class="card-text"><b>Seller Rating:</b> {{ account.fields.seller_rating }}/5 Stars</p>
                  {% endif %}
                {% endfor %}
                {% if item.fields.flagged == True %}
                  <p class="card-text" style="color: red; "><b>This item has been flagged! Buy or place a bid at your own risk.</b></p>
                {% endif %}
                <p id="countdown" class="{{ item.fields.auction_end_time }}"></p>
                {% if item.fields.buy_now == True and account_id != None %}
                  <form id="buyNow" action="/buy_now/?account_id={{ account_id }}" method="post">
                    <button type="submit" class="btn btn-primary" style="color: white;">Buy Now</button>
                    <input type="hidden" name="item_id" id="item_id" value="{{ item.pk }}" required>
                    <input type="hidden" name="price" id="price" value="{{ item.fields.buy_now_price }}" required>
                    <input type="hidden" name="shipping_cost" id="shipping_cost" value="{{ item.fields.shipping_cost }}" required>
                  </form>
                {% endif %}
           </div>
         </div>
       <div class="card" style="width: 60rem; height: 15rem; margin: 20px; display: inline-block;">
            <p style="float:right; font-size: small;">
            <div class="card-body">
            {% if highest_bid != None %}
	           <h4 class="card-title">Current Highest Bid: ${{ highest_bid }}</h4>
            {% endif %}
            <h3 class="card-title">New Bid</h3>
            {% for account in account_user %}
            <form id="place_bid" action="/auctions/place_bid/?buyer_account_id={{ account_id }}&buyer_email={{ account.fields.email }}&item_id={{ item.pk }}&item_name={{ item.fields.item_name }}&seller_account_id={{ item.fields.account_id }}&seller_email={{ seller_email }}" method="post">
            {% endfor %}
                <div class="form-group">
                    <label for="amount">Bid Amount</label>
                    {% if next_bid == None %}
                      <input type="amount" class="form-control" id="amount" name="amount" placeholder="Bid amount" value="{{ item.fields.start_price }}" required>
                    {% else %}
                       <input type="amount" class="form-control" id="amount" name="amount" placeholder="Bid amount" value="{{ next_bid }}" required>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Place Bid</button>
            </form>
        </div>
      </div>
      {% endfor %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
        <script>
    $('#datetimepicker1').datetimepicker({
        minDate: moment()
    })
    </script>
    <script>
    $('#datetimepicker2').datetimepicker({
        minDate: moment()
    });
    </script>
</body>
</html>
