{% load static %}
<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>A+Ocean</title>

</head>
<body style="background-image: url('../../static/Ocean-Blue.jpg'); background-size: cover">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="../">A+Ocean</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../items">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="../login">Login</a>
            <a class="dropdown-item" href="../register">Sign Up</a>
          </div>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0" action="/search/results/" method="get">
      <select class="form-control mr-sm-2" id="category" name="category">
          <option value="1">Category</option>
          {% for category in categories %}
            <option value="{{ category.pk }}">{{ category.fields.category }}</option>
          {% endfor %}    
      </select>
      <input class="form-control mr-sm-2" type="search" placeholder="Search Items" aria-label="Search" name="item_desc" id="item_desc">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button> 
    </form>
  </nav>
  <div class="row align-items-center" style="margin-top: 100px;">
      <div class="col justify-content-start" style="margin-left: 70px">
          <h1 style="font-size: 100px; color: white">A+Ocean</h1>
      </div>
      <div class="col justify-content-end">
        <div>
           <div class="card" style="width: 22rem;">
             <div class="card-body">
               <h3>Sign In to Get Started</h3>
               <form id="login" action="/login/" method="post">
                <div class="form-group">
                  <label for="em">Email address</label>
                  <input type="text" class="form-control" name="em" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="pass">Password</label>
                  <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Sign In</button>
              </form>
              <p style="margin-top: 10px">Don't have an account? <a href="/register" class="card-link">Sign Up</a></p>
             </div>
           </div>
          </div>
      </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
